@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html, body {
  background: #2D2D2D;
  margin: 0;
  padding: 0;
  height: 100%;

#wrapper {
  min-height:100%;
  position: relative;
  background: #293f50;
}

#header {
}

#content {
  padding-bottom: 10px;
}

#footer {
  width:100%;
  position:absolute;
  bottom: 0;
  background:#2D2D2D;
}

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.headerbox {
    padding: 5%;
    background: #293f50;

    margin: 0px 0 0 0;

    h1 {
    font-size: 5em;
    line-height: 1.5;
    font-family: "Lato";
    color: white;
    font-weight: 300;
    }

    h2 {
    font-family: "Lato";
    color: #669999;
    font-weight: 300;
    font-size: 2em;
    text-align: left;
    }

    h3 {
    font-size: 3em;
    line-height: 1;
    font-family: "Lato";
    color: white;
    font-weight: 300;
    }

    p {
    text-align: left;
    font-size: 1.5em;
    color: #669999;
    font-family: "Lato";
    }

    #post_title {
    line-height: 1;
    }
}

.center {
  text-align: center;
}



/* header */

#logo {
  float: left;
  margin-left: 3px;
  margin-top: 3px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: "helvetica";
  border: 1px solid white;
  border-radius: 1000px;
  padding-left: 13px;
  padding-right: 13px;
}

#logo:hover {
  color: #2D2D2D;
  background: white;
  border: 1px solid white;
  text-decoration: none;
}

#myNavbar {
    font-size: 20px;
    margin: 0;
    border: 1px solid #2D2D2D;
    background: #2D2D2D;
    border-radius: 0px !important;
}

/* footer */

footer {
  padding-top: 5px;
  color: #777;
}

footer a {
  color: white;
}

footer a:hover {
  color: #96B696;
  text-decoration: none;
}

footer small {
  float: left;
  color: white;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.navbar-header {
  padding: 3px 30px 3px 30px;
}

/* About */

#about-lists {
  h1 {
  color: white;
  font-size: 1.5em;
  text-align: left;
  }
  h2 {
  color: white;
  font-size: 1.2em;
  text-align: left;
  }
}

.container-fluid {
  background: #2D2D2D !important;
  margin: 0 !important;
  height: auto;
}
