<div class="headerbox">
<h1>About</h1>
<div>
<h2>I'm currently a 4th year Pharm. D. student interning at the FDA (Food and Drug Administration), and will be graduating in May 2015. I think of myself as a renaissance man, and am always looking forward to learn new things. Below is a list of my competencies in various areas, but expect them to grow larger soon!
</h2>
</div> 

<section id="about-lists">
	<h1>
	My current skill-set includes:
	</h1>
	<br>
<article class="col-md-4">
	<h1>
	Computer Science:
	</h1>
	<h2>
	<ul>
		<li>Ruby (Ranked Top 5% on codeeval.com),</li>
		<li>Ruby on Rails Framework (Framework used to build this website),</li>
		<li>Bootstrap (HTML/CSS/JS Framework used to format this website),</li>
		<li>HTML,</li>
		<li>CSS,</li>
		<li>SQL</li>
	</ul>
	</h2>
</article>

<article class="col-md-4">
	<h1>Pharmacy:</h1>
	<h2>
	<ul>
		<li>Clinical Skills: 2 years work experience as Intern Pharmacist at Providence Tarzana Medical Center,
		</li>
		<li>Western University Oncology Research Fellowship: Authored research grant which funded fellowship. Completed fellowship of non-clinical pharmacokinetic study of novel vehicle 
		for delivering daunorubicin in pancreatic cancer,
		</li>
	</ul>
	</h2>
</article>

<article class="col-md-4">
	<h1>Pharmaceutical Industry:</h1>
	<h2>
	<ul>
		<li>Regulatory Experience: Intern for 6 months at FDA in ONDQA (Office of New Drug Quality Assessment) and SEALD (Study Endpoints and Labeling Division),
		</li>
		<li>Medical Information/Affairs: Intern for 6 weeks at Gilead Sciences and drafted cobicistat monograph. Familiar with IRMS (Information Request Management System) software,
		</li>
		<li>Drug Safety: Received Drug Safety Associate Certification from Q-tech Solutions
		</li>
	</ul>
	</h2>
</article>

<div>
<h2>*For a more details of any area, please refer to my Resume or CV.
</h2>
<div>

</section>
</div>