<head>
</head>
<body>
<footer class="footer fill-background">
  <small>
:::
  </small>
  <nav>
    <ul>
      <li><%= link_to "CV",   '#' %>
	  </li>
      <li><%= link_to "Resume", '#' %>
      </li>
    </ul>
  </nav>
</footer>
<body>