<head>
</head>
<body>
<footer class="footer fill-background">
  <small>
:::
  </small>
  <nav>
    <ul>
      <li><%= link_to "CV",   'CV.pdf', :target => "_blank" %>
	  </li>
      <li><%= link_to "Resume", 'Resume.pdf', :target => "_blank" %>
      </li>
    </ul>
  </nav>
</footer>
<body>